<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.siriusproject.coshelek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
    <application
        android:hardwareAccelerated="true"
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SiriusProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.siriusproject.coshelek.wallet_information.ui.view.MainScreenActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".categories_info.ui.view.AddCategoryActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".wallet_list.ui.view.WalletListActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".wallet_information.ui.view.OnBoardingActivity" />
        <activity
            android:name=".wallet_information.ui.view.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.SiriusProject.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>